.home-cover {
    margin-top: -20px;
    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

.home-contents {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}