.user-dashboard {
    .stats {
        .large {
            color: #16A085;
            text-align: center;
            font-size: 25px;
        }

        .small {
            text-align: center;
            font-size: 14px;
        }
    }
}