.user-profile-wrapper {
    textarea {
        resize: none;
    }

    .username {
        margin: 25px 0;
        text-shadow: 0 0 1px #555555;
    }

    .tab-content {
        padding-top: 25px;

        .panel {
            border: none;

            .list-group {
                .list-group-item {
                    background: 0 0;
                    border: none;
                    text-align: center;

                    .list-group-item-heading {
                        color: #6e6e6e;
                    }
                }
            }
        }
    }
}

.user-avatar {
    display: block;

    .user-avatar-picture {
        border-radius: 4px;
    }
}
