.assignments-wrapper {
    .panel {
        .panel-body {
            .label {
                margin-right: 5px;
            }
        }

        .panel-footer {
            form {
                display: inline-block;
            }
        }
    }
}

.assignment-wrapper {
    .assignment-controls {
        form {
            display: inline-block;
        }
    }

    .page-header {
        margin-top: 25px;
        margin-bottom: 0;
        padding-bottom: 5px;
        border-bottom: none;
        text-align: center;
    }
}

.assignment-assignables {
    padding: 0;
    text-align: center;

    li {
        list-style: none;
        display: inline-block;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 5px;
        background-color: #7266ba;

        a {
            font-size: 13px;
            color: #ffffff;
        }
    }
}