.groups-wrapper {
  .panel {
    .group-description {
      margin: 15px 0;
    }

    .panel-footer {
      form {
        display: inline-block;
      }
    }
  }
}

.group-wrapper {
  .group-wrapper__users {
    margin-top: 40px;
  }

  form {
    display: inline-block;
  }
}

.add-users-wrapper {
  .list-group-item {
    a {
      color: #333333;
      vertical-align: middle;

      &:hover, &:active, &:focus {
        color: #1ab394;
      }
    }
  }
}