.notification-groups {
    margin: 10px 0;
    font-size: 11px;
}

.notification-container {
    .notification-controls {
        margin-bottom: 15px;
    }

    .notification {
        margin-bottom: 10px;
    }
}