.notification-groups {
    margin-bottom: 0;
    background: #ffffff;
}

.notification {
    font-size: 14px;

    .well {
        background: #ffffff;
        border: none;
        color: #333;
    }
}

.notification-count {
    .label {
        background: 0 0;
        color: #ff0000;
        line-height: 12px;
        position: absolute;
        right: -8px;
        top: 8px;
    }
}