.user-dashboard {
    .stats {
        .stat-container {
            border: 1px solid #f5f5f5;
            padding: 10px 0;
            margin-bottom: 25px;

            .large {
                color: #1ab394;
                text-align: center;
                font-size: 35px;
            }

            .small {
                color: #555;
                text-align: center;
                font-size: 16px;
            }
        }
    }
}

.user-avatar {
    display: block;
    text-align: center;
    .user-avatar-picture {
        border-radius: 4px;
    }
}

.user-profile-wrapper {
    .panel {
        border-top: 1px solid #f5f5f5;
    }
}
