.user-dashboard {
    .stats {
        .panel-body {
            border-top: 1px solid #eaeaea;
        }

        .large {
            color: #16A085;
            text-align: center;
            font-size: 25px;
        }

        .small {
            color: #111111;
            text-align: center;
            font-size: 14px;
        }
    }
}

.user-avatar {
    display: block;
    text-align: center;
    .user-avatar-picture {
        border-radius: 4px;
    }
}
