.user-dashboard {
    .stats {
        .stat-container {
            background: #455a64;
            padding: 10px;
            margin-bottom: 10px;

            .stat-title {
                color: #fff;
                text-align: center;
            }

            .large {
                color: #fff;
                text-align: center;
                font-size: 35px;
            }

            .small {
                color: #64ffda;
                text-align: center;
                font-size: 16px;
            }
        }
    }
}

.user-avatar {
    display: block;
    text-align: center;
    .user-avatar-picture {
        border-radius: 4px;
    }
}
