.form-wrapper {
  .social-auth {
    cursor: pointer;
  }

  .list-inline {
    margin-bottom: 0;
  }

  .form-submit {
    margin-bottom: 0;
  }
}

#social-auth {
  .modal-content {
    padding: 15px;
  }
}