.form-wrapper {
    .form-link {
        font-size: 14px;

        a {
            color: #1ab394;

            &:hover, &:focus, &:active {
                text-decoration: underline;
            }
        }
    }
}

.form-group:not(.summernote-container) {
    .btn {
        display: block;
        width: 100%;
        margin-top: 30px;
    }
}