.summernote-container {
    .control-label {
        font-weight: normal;
        color: #525252;
    }

    .note-editor {
        background: #fff;
        border-color: #f5f5f5;

        .note-toolbar {
            background-color: #fff;
            border-color: #f5f5f5;
        }

        .note-editable {
            border: none;
        }

        .btn-toolbar {
            margin-left: 0;
        }
    }
}