.form-group:not(.summernote-container) .control-label {
  color: #8d9aa5;
  font-weight: normal;
  margin-bottom: 5px; }
.form-group:not(.summernote-container) .btn {
  display: block;
  width: 100%;
  margin-top: 30px; }

.global-flash-message {
  position: absolute;
  right: 15px;
  top: 100px;
  display: inline-block; }
  .global-flash-message .close {
    margin-left: 10px; }

.summernote-container .control-label {
  font-weight: normal;
  color: #8d9aa5; }
.summernote-container .note-editor {
  border: none; }
  .summernote-container .note-editor .note-toolbar {
    background-color: #e6eef1;
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .summernote-container .note-editor .note-editable {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #f6f9fa; }
  .summernote-container .note-editor .btn-toolbar {
    margin-left: 0; }

.panel-dangerzone .panel-heading {
  background: #ed5565;
  color: #ffffff;
  border-bottom: none; }
.panel-dangerzone .panel-body {
  border: 1px solid #efefef;
  border-top: none; }
.panel-dangerzone .form-group .btn {
  width: auto; }

/** Custom Button theme **/
.btn {
  border-radius: 3px; }

.btn-primary {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #ffffff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #18a689;
    border-color: #18a689;
    color: #ffffff; }

.open .dropdown-toggle.btn-primary {
  background-color: #18a689;
  border-color: #18a689;
  color: #ffffff; }

.btn-primary:active, .btn-primary.active {
  background-image: none; }

.open .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled {
  background-color: #1dc5a3;
  border-color: #1dc5a3; }
  .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active {
    background-color: #1dc5a3;
    border-color: #1dc5a3; }
.btn-primary[disabled] {
  background-color: #1dc5a3;
  border-color: #1dc5a3; }
  .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active {
    background-color: #1dc5a3;
    border-color: #1dc5a3; }
.btn-primary.active[disabled] {
  background-color: #1dc5a3;
  border-color: #1dc5a3; }

fieldset[disabled] .btn-primary {
  background-color: #1dc5a3;
  border-color: #1dc5a3; }
  fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #1dc5a3;
    border-color: #1dc5a3; }

.btn-success {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #ffffff; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #ffffff; }

.open .dropdown-toggle.btn-success {
  background-color: #1a7bb9;
  border-color: #1a7bb9;
  color: #ffffff; }

.btn-success:active, .btn-success.active {
  background-image: none; }

.open .dropdown-toggle.btn-success {
  background-image: none; }

.btn-success.disabled {
  background-color: #1f90d8;
  border-color: #1f90d8; }
  .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active {
    background-color: #1f90d8;
    border-color: #1f90d8; }
.btn-success[disabled] {
  background-color: #1f90d8;
  border-color: #1f90d8; }
  .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active {
    background-color: #1f90d8;
    border-color: #1f90d8; }
.btn-success.active[disabled] {
  background-color: #1f90d8;
  border-color: #1f90d8; }

fieldset[disabled] .btn-success {
  background-color: #1f90d8;
  border-color: #1f90d8; }
  fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #1f90d8;
    border-color: #1f90d8; }

.btn-info {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #ffffff; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #ffffff; }

.open .dropdown-toggle.btn-info {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: #ffffff; }

.btn-info:active, .btn-info.active {
  background-image: none; }

.open .dropdown-toggle.btn-info {
  background-image: none; }

.btn-info.disabled {
  background-color: #26d7d9;
  border-color: #26d7d9; }
  .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active {
    background-color: #26d7d9;
    border-color: #26d7d9; }
.btn-info[disabled] {
  background-color: #26d7d9;
  border-color: #26d7d9; }
  .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active {
    background-color: #26d7d9;
    border-color: #26d7d9; }
.btn-info.active[disabled] {
  background-color: #26d7d9;
  border-color: #26d7d9; }

fieldset[disabled] .btn-info {
  background-color: #26d7d9;
  border-color: #26d7d9; }
  fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #26d7d9;
    border-color: #26d7d9; }

.btn-warning {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #ffffff; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #ffffff; }

.open .dropdown-toggle.btn-warning {
  background-color: #f7a54a;
  border-color: #f7a54a;
  color: #ffffff; }

.btn-warning:active, .btn-warning.active {
  background-image: none; }

.open .dropdown-toggle.btn-warning {
  background-image: none; }

.btn-warning.disabled {
  background-color: #f9b66d;
  border-color: #f9b66d; }
  .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active {
    background-color: #f9b66d;
    border-color: #f9b66d; }
.btn-warning[disabled] {
  background-color: #f9b66d;
  border-color: #f9b66d; }
  .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active {
    background-color: #f9b66d;
    border-color: #f9b66d; }
.btn-warning.active[disabled] {
  background-color: #f9b66d;
  border-color: #f9b66d; }

fieldset[disabled] .btn-warning {
  background-color: #f9b66d;
  border-color: #f9b66d; }
  fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #f9b66d;
    border-color: #f9b66d; }

.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #ffffff; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #FFFFFF; }

.open .dropdown-toggle.btn-danger {
  background-color: #ec4758;
  border-color: #ec4758;
  color: #ffffff; }

.btn-danger:active, .btn-danger.active {
  background-image: none; }

.open .dropdown-toggle.btn-danger {
  background-image: none; }

.btn-danger.disabled {
  background-color: #ef6776;
  border-color: #ef6776; }
  .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active {
    background-color: #ef6776;
    border-color: #ef6776; }
.btn-danger[disabled] {
  background-color: #ef6776;
  border-color: #ef6776; }
  .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active {
    background-color: #ef6776;
    border-color: #ef6776; }
.btn-danger.active[disabled] {
  background-color: #ef6776;
  border-color: #ef6776; }

fieldset[disabled] .btn-danger {
  background-color: #ef6776;
  border-color: #ef6776; }
  fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #ef6776;
    border-color: #ef6776; }

.btn-link {
  color: inherit; }
  .btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active {
    color: #1ab394;
    text-decoration: none; }

.open .dropdown-toggle.btn-link {
  color: #1ab394;
  text-decoration: none; }

.btn-link:active, .btn-link.active {
  background-image: none; }

.open .dropdown-toggle.btn-link {
  background-image: none; }

.btn-link.disabled {
  color: #cacaca; }
  .btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled:active, .btn-link.disabled.active {
    color: #cacaca; }
.btn-link[disabled] {
  color: #cacaca; }
  .btn-link[disabled]:hover, .btn-link[disabled]:focus, .btn-link[disabled]:active {
    color: #cacaca; }
.btn-link.active[disabled] {
  color: #cacaca; }

fieldset[disabled] .btn-link {
  color: #cacaca; }
  fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link.active {
    color: #cacaca; }

.btn-white {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec; }
  .btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active {
    color: inherit;
    border: 1px solid #d2d2d2; }

.open .dropdown-toggle.btn-white {
  color: inherit;
  border: 1px solid #d2d2d2; }

.btn-white:active, .btn-white.active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset; }
.btn-white:active, .btn-white.active {
  background-image: none; }

.open .dropdown-toggle.btn-white {
  background-image: none; }

.btn-white.disabled {
  color: #cacaca; }
  .btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active {
    color: #cacaca; }
.btn-white[disabled] {
  color: #cacaca; }
  .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active {
    color: #cacaca; }
.btn-white.active[disabled] {
  color: #cacaca; }

fieldset[disabled] .btn-white {
  color: #cacaca; }
  fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active {
    color: #cacaca; }

.btn-violet {
  background-color: #9B59B6;
  border-color: #9B59B6;
  color: #ffffff; }
  .btn-violet:hover, .btn-violet:focus, .btn-violet:active, .btn-violet.active {
    background-color: #8f4bab;
    border-color: #8f4bab;
    color: #ffffff; }

.open .dropdown-toggle.btn-violet {
  background-color: #9B59B6;
  border-color: #9B59B6;
  color: #ffffff; }

.btn-violet:active, .btn-violet.active {
  background-image: none; }

.open .dropdown-toggle.btn-violet {
  background-image: none; }

.btn-violet.disabled {
  background-color: #a66bbe;
  border-color: #a66bbe; }
  .btn-violet.disabled:hover, .btn-violet.disabled:focus, .btn-violet.disabled:active, .btn-violet.disabled.active {
    background-color: #a66bbe;
    border-color: #a66bbe; }
.btn-violet[disabled] {
  background-color: #a66bbe;
  border-color: #a66bbe; }
  .btn-violet[disabled]:hover, .btn-violet[disabled]:focus, .btn-violet[disabled]:active {
    background-color: #a66bbe;
    border-color: #a66bbe; }
.btn-violet.active[disabled] {
  background-color: #a66bbe;
  border-color: #a66bbe; }

fieldset[disabled] .btn-violet {
  background-color: #a66bbe;
  border-color: #a66bbe; }
  fieldset[disabled] .btn-violet:hover, fieldset[disabled] .btn-violet:focus, fieldset[disabled] .btn-violet:active, fieldset[disabled] .btn-violet.active {
    background-color: #a66bbe;
    border-color: #a66bbe; }

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429; }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33; }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33; }

/** Custom panel theme **/
.panel {
  box-shadow: none; }

.panel-primary {
  border-color: #1ab394; }
  .panel-primary > .panel-heading {
    background-color: #1ab394;
    border-color: #1ab394; }

.panel-success {
  border-color: #1c84c6; }
  .panel-success > .panel-heading {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #ffffff; }

.panel-info {
  border-color: #23c6c8; }
  .panel-info > .panel-heading {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #ffffff; }

.panel-warning {
  border-color: #f8ac59; }
  .panel-warning > .panel-heading {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #ffffff; }

.panel-danger {
  border-color: #ed5565; }
  .panel-danger > .panel-heading {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #ffffff; }

/** Custom label, badge themes **/
.label {
  background-color: #d1dade;
  font-size: 14px;
  font-weight: normal;
  padding: 3px 8px;
  text-shadow: none; }

.badge {
  background-color: #d1dade;
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none; }

.label-primary, .badge-primary {
  background-color: #1ab394;
  color: #ffffff; }

.label-success, .badge-success {
  background-color: #1c84c6;
  color: #ffffff; }

.label-warning, .badge-warning {
  background-color: #f8ac59;
  color: #ffffff; }

.label-warning-light, .badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff; }

.label-danger, .badge-danger {
  background-color: #ed5565;
  color: #ffffff; }

.label-info, .badge-info {
  background-color: #23c6c8;
  color: #ffffff; }

.label-inverse, .badge-inverse {
  background-color: #262626;
  color: #ffffff; }

.label-white, .badge-white {
  background-color: #ffffff;
  color: #5e5e5e; }

.label-white, .badge-disable {
  background-color: #2a2e36;
  color: #8b91a0; }

/** Custom font color **/
.text-navy {
  color: #1ab394; }

.text-primary {
  color: inherit; }

.text-success {
  color: #1c84c6; }

.text-info {
  color: #23c6c8; }

.text-warning {
  color: #f8ac59; }

.text-danger {
  color: #ed5565; }

.text-muted {
  color: #888888; }

/** Arrow **/
.arrow {
  border-width: 9px;
  z-index: 10;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }
  .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
    content: ""; }
  .arrow.top {
    left: 50%;
    margin-left: -9px;
    border-top-width: 0;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    top: -9px; }
    .arrow.top:after {
      top: 1px;
      margin-left: -8px;
      border-top-width: 0;
      border-bottom-color: #fff; }
    .arrow.top.arrow-primary:after {
      border-bottom-color: #7266ba; }
    .arrow.top.arrow-info:after {
      border-bottom-color: #23b7e5; }
    .arrow.top.arrow-success:after {
      border-bottom-color: #27c24c; }
    .arrow.top.arrow-danger:after {
      border-bottom-color: #f05050; }
    .arrow.top.arrow-warning:after {
      border-bottom-color: #fad733; }
    .arrow.top.arrow-light:after {
      border-bottom-color: #edf1f2; }
    .arrow.top.arrow-dark:after {
      border-bottom-color: #3a3f51; }
    .arrow.top.arrow-black:after {
      border-bottom-color: #1c2b36; }
  .arrow.right {
    top: 50%;
    right: -9px;
    margin-top: -9px;
    border-right-width: 0;
    border-left-color: rgba(0, 0, 0, 0.1); }
    .arrow.right:after {
      right: 1px;
      bottom: -8px;
      border-right-width: 0;
      border-left-color: #fff; }
    .arrow.right.arrow-primary:after {
      border-left-color: #7266ba; }
    .arrow.right.arrow-info:after {
      border-left-color: #23b7e5; }
    .arrow.right.arrow-success:after {
      border-left-color: #27c24c; }
    .arrow.right.arrow-danger:after {
      border-left-color: #f05050; }
    .arrow.right.arrow-warning:after {
      border-left-color: #fad733; }
    .arrow.right.arrow-light:after {
      border-left-color: #edf1f2; }
    .arrow.right.arrow-dark:after {
      border-left-color: #3a3f51; }
    .arrow.right.arrow-black:after {
      border-left-color: #1c2b36; }
  .arrow.bottom {
    left: 50%;
    bottom: -9px;
    margin-left: -9px;
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, 0.1); }
    .arrow.bottom:after {
      bottom: 1px;
      margin-left: -8px;
      border-bottom-width: 0;
      border-top-color: #fff; }
    .arrow.bottom.arrow-primary:after {
      border-top-color: #7266ba; }
    .arrow.bottom.arrow-info:after {
      border-top-color: #23b7e5; }
    .arrow.bottom.arrow-success:after {
      border-top-color: #27c24c; }
    .arrow.bottom.arrow-danger:after {
      border-top-color: #f05050; }
    .arrow.bottom.arrow-warning:after {
      border-top-color: #fad733; }
    .arrow.bottom.arrow-light:after {
      border-top-color: #edf1f2; }
    .arrow.bottom.arrow-dark:after {
      border-top-color: #3a3f51; }
    .arrow.bottom.arrow-black:after {
      border-top-color: #1c2b36; }
  .arrow.left {
    top: 50%;
    left: -9px;
    margin-top: -9px;
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, 0.1); }
    .arrow.left:after {
      left: 1px;
      bottom: -8px;
      border-left-width: 0;
      border-right-color: #fff; }
    .arrow.left.arrow-primary:after {
      border-right-color: #7266ba; }
    .arrow.left.arrow-info:after {
      border-right-color: #23b7e5; }
    .arrow.left.arrow-success:after {
      border-right-color: #27c24c; }
    .arrow.left.arrow-danger:after {
      border-right-color: #f05050; }
    .arrow.left.arrow-warning:after {
      border-right-color: #fad733; }
    .arrow.left.arrow-light:after {
      border-right-color: #edf1f2; }
    .arrow.left.arrow-dark:after {
      border-right-color: #3a3f51; }
    .arrow.left.arrow-black:after {
      border-right-color: #1c2b36; }
  .arrow.pull-left {
    left: 19px; }
  .arrow.pull-right {
    left: auto;
    right: 19px; }
  .arrow.pull-up {
    top: 19px; }
  .arrow.pull-down {
    top: auto;
    bottom: 19px; }

/** Timeline **/
.timeline {
  margin: 0;
  padding: 0; }

.tl-item {
  display: block; }
  .tl-item:before {
    content: " ";
    display: table; }
  .tl-item:after {
    content: " ";
    display: table;
    clear: both; }

.visible-left {
  display: none; }

.tl-wrap {
  display: block;
  margin-left: 6em;
  padding: 15px 0 15px 20px;
  border: 0 solid #dee5e7;
  border-left-width: 4px; }
  .tl-wrap:before {
    content: " ";
    display: table; }
  .tl-wrap:after {
    content: " ";
    display: table;
    clear: both; }
  .tl-wrap:before {
    position: relative;
    content: "";
    float: left;
    top: 15px;
    margin-left: -27px;
    width: 10px;
    height: 10px;
    border-color: inherit;
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    background: #edf1f2;
    box-shadow: 0 0 0 4px #e9f0f3; }
  .tl-wrap:hover:before {
    background: transparent;
    border-color: #fff; }

.tl-date {
  position: relative;
  top: 10px;
  float: left;
  margin-left: -8.5em;
  display: block;
  width: 6em;
  text-align: right; }

.tl-content {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  width: 400px;
  border: 1px solid #dee5e7; }
  .tl-content.block {
    display: block;
    width: 100%; }
  .tl-content.panel {
    margin-bottom: 0; }
    .tl-content.panel .panel-body {
      font-size: 14px;
      border-top: 1px solid #edf1f2; }
    .tl-content.panel .panel-footer {
      border-top: none; }
  .tl-content .text-lt {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px; }

.tl-header {
  display: block;
  width: 12em;
  text-align: center;
  margin-left: 2px; }

.timeline-center .tl-item {
  margin-left: 50%; }
  .timeline-center .tl-item .tl-wrap {
    margin-left: -2px; }
.timeline-center .tl-header {
  width: auto;
  margin: 0; }
.timeline-center .tl-left {
  margin-left: 0;
  margin-right: 50%; }
  .timeline-center .tl-left .hidden-left {
    display: none !important; }
  .timeline-center .tl-left .visible-left {
    display: inherit; }
  .timeline-center .tl-left .tl-wrap {
    float: right;
    margin-right: -2px;
    border-left-width: 0;
    border-right-width: 4px;
    padding-left: 0;
    padding-right: 20px; }
    .timeline-center .tl-left .tl-wrap:before {
      float: right;
      margin-left: 0;
      margin-right: -27px; }
  .timeline-center .tl-left .tl-date {
    float: right;
    margin-left: 0;
    margin-right: -8.5em;
    text-align: left; }

.b-primary {
  border-color: #7266ba; }

.b-success {
  border-color: #27c24c; }

.keep-navigation {
  background: #f6f9fa;
  border-bottom-color: #e9f0f3; }
  .keep-navigation .navbar-brand {
    color: #1ab394; }
    .keep-navigation .navbar-brand:hover, .keep-navigation .navbar-brand:active, .keep-navigation .navbar-brand:focus {
      color: #14866f; }
  .keep-navigation .navbar-nav > li a:hover, .keep-navigation .navbar-nav > li a:active, .keep-navigation .navbar-nav > li a:focus {
    color: #1ab394; }
  .keep-navigation .navbar-toggle {
    border: none; }
  .keep-navigation .dropdown-menu {
    border: none;
    background-color: #f6f9fa; }
    .keep-navigation .dropdown-menu a:hover, .keep-navigation .dropdown-menu a:active, .keep-navigation .dropdown-menu a:focus {
      background: 0 0; }
  .keep-navigation .divider {
    margin: 3px 0;
    background-color: #ecf2f5; }

.footer {
  padding: 40px 0;
  color: #777777;
  text-align: center;
  clear: both; }
  .footer .footer-links {
    padding-left: 0;
    margin-top: 20px; }
    .footer .footer-links li {
      display: inline;
      padding: 0 2px; }
    .footer .footer-links a {
      color: #8c989e; }
      .footer .footer-links a:hover, .footer .footer-links a:active, .footer .footer-links a:focus {
        color: #4bc970; }

.form-wrapper .form-header {
  margin-top: 0;
  text-align: center;
  text-shadow: 0 0 1px #555555; }
.form-wrapper .form-link a {
  color: #444444; }
  .form-wrapper .form-link a:hover, .form-wrapper .form-link a:focus, .form-wrapper .form-link a:active {
    color: #1ab394; }
.form-wrapper textarea {
  resize: none; }

#scroll-top {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  background-color: #1ab394;
  bottom: 15px;
  right: 15px;
  border-radius: 4px; }
  #scroll-top:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    top: 17px;
    left: 15px; }

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 46px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 8px 7px;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 46px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 8px 7px;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: #e6eef1;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none; }
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    border: none; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-container--default .select2-selection--single {
  background-color: #f6f9fa;
  border-radius: 3px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }
.select2-container--default .select2-selection--multiple {
  background-color: #f6f9fa;
  border-radius: 3px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #1ab394;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 2px 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0; }
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }
.select2-container--default .select2-results__option[role=group] {
  padding: 0; }
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #666;
  color: #ffffff; }
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1ab394;
  color: #ffffff; }
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.home-cover {
  margin-top: -20px;
  position: relative; }
  .home-cover img {
    width: 100%;
    height: auto; }

.home-contents {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .home-contents .well {
    border-radius: 0;
    padding: 20px 10px;
    background: #ffffff;
    border: 1px dashed #ed5565; }

.user-profile-wrapper textarea {
  resize: none; }
.user-profile-wrapper .username {
  margin: 25px 0;
  text-shadow: 0 0 1px #555555; }
.user-profile-wrapper .tab-content {
  padding-top: 25px; }
  .user-profile-wrapper .tab-content .panel {
    border: none; }
    .user-profile-wrapper .tab-content .panel .list-group .list-group-item {
      background: 0 0;
      border: none;
      text-align: center; }
      .user-profile-wrapper .tab-content .panel .list-group .list-group-item .list-group-item-heading {
        color: #6e6e6e; }

.user-avatar {
  display: block; }
  .user-avatar .user-avatar-picture {
    border-radius: 4px; }

.user-dashboard .stats .large {
  color: #16A085;
  text-align: center;
  font-size: 25px; }
.user-dashboard .stats .small {
  color: #111111;
  text-align: center;
  font-size: 14px; }
.user-dashboard .newest-tasks-wrapper {
  text-align: center; }
  .user-dashboard .newest-tasks-wrapper .label {
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block; }

.task-wrapper .panel {
  background: #f9f9fa;
  border: none; }
.task-wrapper .panel-heading {
  border: none;
  text-align: center; }
  .task-wrapper .panel-heading .task-title {
    font-size: 25px;
    color: #ffffff; }
    .task-wrapper .panel-heading .task-title:hover {
      color: #f2f2f2; }
  .task-wrapper .panel-heading .task-time-ago {
    color: #ffffff;
    margin: 5px 0; }
.task-wrapper .panel-body .task-labels {
  margin-bottom: 15px;
  text-align: center; }
  .task-wrapper .panel-body .task-labels .label {
    margin-bottom: 5px;
    display: inline-block; }
.task-wrapper .panel-body .well {
  background: #ffffff;
  color: #7f8a94; }
  .task-wrapper .panel-body .well .label {
    font-size: 12px;
    margin-right: 5px; }
  .task-wrapper .panel-body .well .fa {
    padding-right: 5px; }

.task-controls {
  margin: 15px 0; }
  .task-controls form {
    display: inline-block; }

.admin-contents-wrapper .well {
  background-color: #ffffff; }
.admin-contents-wrapper .table th {
  text-align: center; }
.admin-contents-wrapper .table td {
  font-size: 15px;
  vertical-align: middle;
  text-align: center; }
  .admin-contents-wrapper .table td form {
    display: inline-block; }

.huge {
  font-size: 35px; }

.pv-lg {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.admin-dashboard .panel {
  color: #ffffff; }
.admin-dashboard .row-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: 0; }
  .admin-dashboard .row-table > [class*=col-] {
    display: table-cell;
    float: none;
    table-layout: fixed;
    vertical-align: middle; }
.admin-dashboard .widget {
  margin-bottom: 20px; }
  .admin-dashboard .widget.panel {
    overflow: hidden; }
.admin-dashboard .bg-purple {
  background: #7266ba; }
.admin-dashboard .bg-purple-dark {
  background: #564aa3; }
.admin-dashboard .bg-green {
  background: #16A085; }
.admin-dashboard .bg-green-dark {
  background: #107360; }
.admin-dashboard .bg-red {
  background: #E74C3C; }
.admin-dashboard .bg-red-dark {
  background: #d62c1a; }
.admin-dashboard .bg-yellow {
  background: #fad733; }
.admin-dashboard .bg-yellow-dark {
  background: #f4ca06; }

.account-profile .panel {
  background: 0 0; }
.account-profile .label {
  font-weight: normal; }
.account-profile .list-group-item {
  background: 0 0;
  border: none #edf1f2;
  text-align: center; }

.groups-wrapper .panel {
  border: none;
  background: #f6f9fa; }
  .groups-wrapper .panel .well {
    background-color: #f6f9fa;
    text-align: center;
    margin-bottom: 0;
    padding: 10px 0 0; }
  .groups-wrapper .panel .group-name {
    margin-top: 0;
    text-align: center;
    text-shadow: 0 0 1px #555555; }
  .groups-wrapper .panel .panel-footer {
    border-top: none; }
    .groups-wrapper .panel .panel-footer form {
      display: inline-block; }

.group-wrapper .group-wrapper__users {
  margin-top: 40px; }
  .group-wrapper .group-wrapper__users .well {
    background-color: #fafaf9; }
.group-wrapper form {
  display: inline-block; }

.add-users-wrapper .list-group-item:hover {
  background-color: #eaeaea; }
.add-users-wrapper .list-group-item a {
  color: #333333;
  vertical-align: middle; }
  .add-users-wrapper .list-group-item a:hover, .add-users-wrapper .list-group-item a:active, .add-users-wrapper .list-group-item a:focus {
    color: #1ab394; }

.assignments-wrapper .panel {
  background: #f6f9fa;
  border: none; }
  .assignments-wrapper .panel .panel-body .well {
    background-color: #f6f9fa;
    margin-bottom: 0;
    padding: 0; }
    .assignments-wrapper .panel .panel-body .well a {
      color: #333333; }
      .assignments-wrapper .panel .panel-body .well a:hover, .assignments-wrapper .panel .panel-body .well a:active, .assignments-wrapper .panel .panel-body .well a:focus {
        color: #1AB394; }
  .assignments-wrapper .panel .panel-body .label {
    font-size: 12px;
    margin-right: 5px; }
  .assignments-wrapper .panel .panel-footer {
    background: 0 0;
    border-top: none; }
    .assignments-wrapper .panel .panel-footer form {
      display: inline-block; }

.assignment-wrapper .panel {
  border: none; }
.assignment-wrapper .assignment-controls {
  margin: 15px 0; }
  .assignment-wrapper .assignment-controls form {
    display: inline-block; }
.assignment-wrapper .page-header {
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dashed #d3dbde; }
  .assignment-wrapper .page-header h5 {
    margin: 0; }

.assignment-name {
  text-shadow: 0 0 1px #555555; }

.assignment-assignables {
  padding: 0;
  text-align: center; }
  .assignment-assignables li {
    list-style: none;
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #7266ba; }
    .assignment-assignables li a {
      font-size: 13px;
      color: #ffffff; }

body {
  font: normal 16px "Source Sans Pro", sans-serif;
  color: #525252;
  padding-top: 70px;
  position: relative;
  -webkit-font-smoothing: antialiased; }

a {
  transition: all .2s ease; }
  a:hover, a:active, a:focus {
    text-decoration: none; }


/*# sourceMappingURL=app.css.map */