.groups-wrapper {
    .panel {
        .label {
            display: inline-block;
            margin-top: 15px;
        }

        .well {
            background-color: #f6f9fa;
        }

        .panel-body {
            h5 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .panel-footer {
            form {
                display: inline-block;
            }
        }
    }

    .well {
        background-color: #ffffff;
    }
}

.group-wrapper {
    .group-wrapper--users {
        margin-top: 40px;

        .well {
            background-color: #ffffff;
        }
    }

    form {
        display: inline-block;
    }
}