.groups-wrapper {
    .panel {
        .label {
            display: inline-block;
            margin-top: 15px;
        }

        .well {
            background-color: #f6f9fa;
        }

        .panel-body {
            h5 {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        .panel-footer {
            form {
                display: inline-block;
            }
        }
    }

    .well {
        background-color: #ffffff;
    }
}

.group-wrapper {
    .group-wrapper--users {
        margin-top: 40px;

        .well {
            background-color: #ffffff;
        }
    }

    form {
        display: inline-block;
    }
}

.add-users-wrapper {
    .list-group-item {
        border: none;

        &:hover {
            background-color: #eaeaea;
        }

        a {
            color: #333333;
            vertical-align: middle;

            &:hover, &:active, &:focus {
                color: #1ab394;
            }
        }

        .btn-circle {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            padding: 4px 0;
        }
    }

    .panel {
        border: none;
    }
}