.form-group {
    .control-label {
        color: #8d9aa5;
        font-weight: normal;
        margin-bottom: 5px;
    }

    .btn {
        display: block;
        width: 100%;
        margin-top: 30px;
    }
}

.panel-dangerzone {
    .panel-heading {
        background: #ed5565;
        color: #ffffff;
        border-bottom: none;
    }

    .panel-body {
        border: 1px solid lighten(#eaeaea, 2%);
        border-top: none;
    }

    .btn {
        width: auto;
    }
}

/** Custom Button theme **/
.btn {
    border-radius: 3px;
}

.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background-color: #18a689;
        border-color: #18a689;
        color: #ffffff;
    }
}

.open .dropdown-toggle.btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #ffffff;
}

.btn-primary {
    &:active, &.active {
        background-image: none;
    }
}

.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary {

    &.disabled {
        background-color: #1dc5a3;
        border-color: #1dc5a3;

        &:hover, &:focus, &:active, &.active {
            background-color: #1dc5a3;
            border-color: #1dc5a3;
        }
    }

    &[disabled] {
        background-color: #1dc5a3;
        border-color: #1dc5a3;

        &:hover, &:focus, &:active {
            background-color: #1dc5a3;
            border-color: #1dc5a3;
        }
    }

    &.active[disabled] {
        background-color: #1dc5a3;
        border-color: #1dc5a3;
    }
}

fieldset[disabled] .btn-primary {
    background-color: #1dc5a3;
    border-color: #1dc5a3;

    &:hover, &:focus, &:active, &.active {
        background-color: #1dc5a3;
        border-color: #1dc5a3;
    }
}

.btn-success {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background-color: #1a7bb9;
        border-color: #1a7bb9;
        color: #ffffff;
    }
}

.open .dropdown-toggle.btn-success {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #ffffff;
}

.btn-success {
    &:active, &.active {
        background-image: none;
    }
}

.open .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success {
    &.disabled {
        background-color: #1f90d8;
        border-color: #1f90d8;

        &:hover, &:focus, &:active, &.active {
            background-color: #1f90d8;
            border-color: #1f90d8;
        }
    }

    &[disabled] {
        background-color: #1f90d8;
        border-color: #1f90d8;
        &:hover, &:focus, &:active {
            background-color: #1f90d8;
            border-color: #1f90d8;
        }
    }

    &.active[disabled] {
        background-color: #1f90d8;
        border-color: #1f90d8;
    }
}

fieldset[disabled] .btn-success {
    background-color: #1f90d8;
    border-color: #1f90d8;

    &:hover, &:focus, &:active, &.active {
        background-color: #1f90d8;
        border-color: #1f90d8;
    }
}

.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background-color: #21b9bb;
        border-color: #21b9bb;
        color: #ffffff;
    }
}

.open .dropdown-toggle.btn-info {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #ffffff;
}

.btn-info {
    &:active, &.active {
        background-image: none;
    }
}

.open .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info {
    &.disabled {
        background-color: #26d7d9;
        border-color: #26d7d9;

        &:hover, &:focus, &:active, &.active {
            background-color: #26d7d9;
            border-color: #26d7d9;
        }
    }

    &[disabled] {
        background-color: #26d7d9;
        border-color: #26d7d9;
        &:hover, &:focus, &:active {
            background-color: #26d7d9;
            border-color: #26d7d9;
        }
    }

    &.active[disabled] {
        background-color: #26d7d9;
        border-color: #26d7d9;
    }
}

fieldset[disabled] .btn-info {
    background-color: #26d7d9;
    border-color: #26d7d9;

    &:hover, &:focus, &:active, &.active {
        background-color: #26d7d9;
        border-color: #26d7d9;
    }
}

.btn-default {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background-color: #bababa;
        border-color: #bababa;
        color: #ffffff;
    }
}

.open .dropdown-toggle.btn-default {
    background-color: #bababa;
    border-color: #bababa;
    color: #ffffff;
}

.btn-default {
    &:active, &.active {
        background-image: none;
    }
}

.open .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default {
    &.disabled {
        background-color: #cccccc;
        border-color: #cccccc;

        &:hover, &:focus, &:active, &.active {
            background-color: #cccccc;
            border-color: #cccccc;
        }
    }

    &[disabled] {
        background-color: #cccccc;
        border-color: #cccccc;
        &:hover, &:focus, &:active {
            background-color: #cccccc;
            border-color: #cccccc;
        }
    }

    &.active[disabled] {
        background-color: #cccccc;
        border-color: #cccccc;
    }
}

fieldset[disabled] .btn-default {
    background-color: #cccccc;
    border-color: #cccccc;

    &:hover, &:focus, &:active, &.active {
        background-color: #cccccc;
        border-color: #cccccc;
    }
}

.btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background-color: #f7a54a;
        border-color: #f7a54a;
        color: #ffffff;
    }
}

.open .dropdown-toggle.btn-warning {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #ffffff;
}

.btn-warning {
    &:active, &.active {
        background-image: none;
    }
}

.open .dropdown-toggle.btn-warning {
    background-image: none;
}

.btn-warning {
    &.disabled {
        background-color: #f9b66d;
        border-color: #f9b66d;

        &:hover, &:focus, &:active, &.active {
            background-color: #f9b66d;
            border-color: #f9b66d;
        }
    }

    &[disabled] {
        background-color: #f9b66d;
        border-color: #f9b66d;
        &:hover, &:focus, &:active {
            background-color: #f9b66d;
            border-color: #f9b66d;
        }
    }

    &.active[disabled] {
        background-color: #f9b66d;
        border-color: #f9b66d;
    }
}

fieldset[disabled] .btn-warning {
    background-color: #f9b66d;
    border-color: #f9b66d;

    &:hover, &:focus, &:active, &.active {
        background-color: #f9b66d;
        border-color: #f9b66d;
    }
}

.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #ffffff;

    &:hover, &:focus, &:active, &.active {
        background-color: #ec4758;
        border-color: #ec4758;
        color: #FFFFFF;
    }
}

.open .dropdown-toggle.btn-danger {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #ffffff;
}

.btn-danger {
    &:active, &.active {
        background-image: none;
    }
}

.open .dropdown-toggle.btn-danger {
    background-image: none;
}

.btn-danger {
    &.disabled {
        background-color: #ef6776;
        border-color: #ef6776;

        &:hover, &:focus, &:active, &.active {
            background-color: #ef6776;
            border-color: #ef6776;
        }
    }

    &[disabled] {
        background-color: #ef6776;
        border-color: #ef6776;
        &:hover, &:focus, &:active {
            background-color: #ef6776;
            border-color: #ef6776;
        }
    }

    &.active[disabled] {
        background-color: #ef6776;
        border-color: #ef6776;
    }
}

fieldset[disabled] .btn-danger {
    background-color: #ef6776;
    border-color: #ef6776;

    &:hover, &:focus, &:active, &.active {
        background-color: #ef6776;
        border-color: #ef6776;
    }
}

.btn-link {
    color: inherit;

    &:hover, &:focus, &:active, &.active {
        color: #1ab394;
        text-decoration: none;
    }
}

.open .dropdown-toggle.btn-link {
    color: #1ab394;
    text-decoration: none;
}

.btn-link {
    &:active, &.active {
        background-image: none;
    }
}

.open .dropdown-toggle.btn-link {
    background-image: none;
}

.btn-link {
    &.disabled {
        color: #cacaca;
        &:hover, &:focus, &:active, &.active {
            color: #cacaca;
        }
    }

    &[disabled] {
        color: #cacaca;
        &:hover, &:focus, &:active {
            color: #cacaca;
        }
    }

    &.active[disabled] {
        color: #cacaca;
    }
}

fieldset[disabled] .btn-link {
    color: #cacaca;
    &:hover, &:focus, &:active, &.active {
        color: #cacaca;
    }
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;

    &:hover, &:focus, &:active, &.active {
        color: inherit;
        border: 1px solid #d2d2d2;
    }
}

.open .dropdown-toggle.btn-white {
    color: inherit;
    border: 1px solid #d2d2d2;
}

.btn-white {
    &:active, &.active {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
    }

    &:active, &.active {
        background-image: none;
    }
}

.open .dropdown-toggle.btn-white {
    background-image: none;
}

.btn-white {
    &.disabled {
        color: #cacaca;
        &:hover, &:focus, &:active, &.active {
            color: #cacaca;
        }
    }

    &[disabled] {
        color: #cacaca;
        &:hover, &:focus, &:active {
            color: #cacaca;
        }
    }

    &.active[disabled] {
        color: #cacaca;
    }
}

fieldset[disabled] .btn-white {
    color: #cacaca;
    &:hover, &:focus, &:active, &.active {
        color: #cacaca;
    }
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;

    &.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 25px;
        font-size: 18px;
        line-height: 1.33;
    }

    &.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }
}


/** Custom panel theme **/
.panel {
    box-shadow: none;
}

.panel-primary {
    border-color: #1ab394;

    > .panel-heading {
        background-color: #1ab394;
        border-color: #1ab394;
    }
}

.panel-success {
    border-color: #1c84c6;

    > .panel-heading {
        background-color: #1c84c6;
        border-color: #1c84c6;
        color: #ffffff;
    }
}

.panel-info {
    border-color: #23c6c8;

    > .panel-heading {
        background-color: #23c6c8;
        border-color: #23c6c8;
        color: #ffffff;
    }
}

.panel-warning {
    border-color: #f8ac59;

    > .panel-heading {
        background-color: #f8ac59;
        border-color: #f8ac59;
        color: #ffffff;
    }
}

.panel-danger {
    border-color: #ed5565;

    > .panel-heading {
        background-color: #ed5565;
        border-color: #ed5565;
        color: #ffffff;
    }
}

/** Custom label, badge themes **/
.label {
    background-color: #d1dade;
    font-size: 14px;
    font-weight: normal;
    padding: 3px 8px;
    text-shadow: none;
}

.badge {
    background-color: #d1dade;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
}

.label-primary, .badge-primary {
    background-color: #1ab394;
    color: #ffffff;
}

.label-success, .badge-success {
    background-color: #1c84c6;
    color: #ffffff;
}

.label-warning, .badge-warning {
    background-color: #f8ac59;
    color: #ffffff;
}

.label-warning-light, .badge-warning-light {
    background-color: #f8ac59;
    color: #ffffff;
}

.label-danger, .badge-danger {
    background-color: #ed5565;
    color: #ffffff;
}

.label-info, .badge-info {
    background-color: #23c6c8;
    color: #ffffff;
}

.label-inverse, .badge-inverse {
    background-color: #262626;
    color: #ffffff;
}

.label-white, .badge-white {
    background-color: #ffffff;
    color: #5e5e5e;
}

.label-white, .badge-disable {
    background-color: #2a2e36;
    color: #8b91a0;
}

/** Custom font color **/
.text-navy {
    color: #1ab394;
}

.text-primary {
    color: inherit;
}

.text-success {
    color: #1c84c6;
}

.text-info {
    color: #23c6c8;
}

.text-warning {
    color: #f8ac59;
}

.text-danger {
    color: #ed5565;
}

.text-muted {
    color: #888888;
}

/** Arrow **/
.arrow {
    border-width: 9px;
    z-index: 10;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 8px;
        content: "";
    }

    &.top {
        left: 50%;
        margin-left: -9px;
        border-top-width: 0;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        top: -9px;

        &:after {
            top: 1px;
            margin-left: -8px;
            border-top-width: 0;
            border-bottom-color: #fff;
        }

        &.arrow-primary:after {
            border-bottom-color: #7266ba;
        }

        &.arrow-info:after {
            border-bottom-color: #23b7e5;
        }

        &.arrow-success:after {
            border-bottom-color: #27c24c;
        }

        &.arrow-danger:after {
            border-bottom-color: #f05050;
        }

        &.arrow-warning:after {
            border-bottom-color: #fad733;
        }

        &.arrow-light:after {
            border-bottom-color: #edf1f2;
        }

        &.arrow-dark:after {
            border-bottom-color: #3a3f51;
        }

        &.arrow-black:after {
            border-bottom-color: #1c2b36;
        }
    }

    &.right {
        top: 50%;
        right: -9px;
        margin-top: -9px;
        border-right-width: 0;
        border-left-color: rgba(0, 0, 0, 0.1);

        &:after {
            right: 1px;
            bottom: -8px;
            border-right-width: 0;
            border-left-color: #fff;
        }

        &.arrow-primary:after {
            border-left-color: #7266ba;
        }

        &.arrow-info:after {
            border-left-color: #23b7e5;
        }

        &.arrow-success:after {
            border-left-color: #27c24c;
        }

        &.arrow-danger:after {
            border-left-color: #f05050;
        }

        &.arrow-warning:after {
            border-left-color: #fad733;
        }

        &.arrow-light:after {
            border-left-color: #edf1f2;
        }

        &.arrow-dark:after {
            border-left-color: #3a3f51;
        }

        &.arrow-black:after {
            border-left-color: #1c2b36;
        }
    }

    &.bottom {
        left: 50%;
        bottom: -9px;
        margin-left: -9px;
        border-bottom-width: 0;
        border-top-color: rgba(0, 0, 0, 0.1);

        &:after {
            bottom: 1px;
            margin-left: -8px;
            border-bottom-width: 0;
            border-top-color: #fff;
        }

        &.arrow-primary:after {
            border-top-color: #7266ba;
        }

        &.arrow-info:after {
            border-top-color: #23b7e5;
        }

        &.arrow-success:after {
            border-top-color: #27c24c;
        }

        &.arrow-danger:after {
            border-top-color: #f05050;
        }

        &.arrow-warning:after {
            border-top-color: #fad733;
        }

        &.arrow-light:after {
            border-top-color: #edf1f2;
        }

        &.arrow-dark:after {
            border-top-color: #3a3f51;
        }

        &.arrow-black:after {
            border-top-color: #1c2b36;
        }
    }

    &.left {
        top: 50%;
        left: -9px;
        margin-top: -9px;
        border-left-width: 0;
        border-right-color: rgba(0, 0, 0, 0.1);

        &:after {
            left: 1px;
            bottom: -8px;
            border-left-width: 0;
            border-right-color: #fff;
        }

        &.arrow-primary:after {
            border-right-color: #7266ba;
        }

        &.arrow-info:after {
            border-right-color: #23b7e5;
        }

        &.arrow-success:after {
            border-right-color: #27c24c;
        }

        &.arrow-danger:after {
            border-right-color: #f05050;
        }

        &.arrow-warning:after {
            border-right-color: #fad733;
        }

        &.arrow-light:after {
            border-right-color: #edf1f2;
        }

        &.arrow-dark:after {
            border-right-color: #3a3f51;
        }

        &.arrow-black:after {
            border-right-color: #1c2b36;
        }
    }

    &.pull-left {
        left: 19px;
    }

    &.pull-right {
        left: auto;
        right: 19px;
    }

    &.pull-up {
        top: 19px;
    }

    &.pull-down {
        top: auto;
        bottom: 19px;
    }
}

/** Timeline **/
.timeline {
    margin: 0;
    padding: 0;
}

.tl-item {
    display: block;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.visible-left {
    display: none;
}

.tl-wrap {
    display: block;
    margin-left: 6em;
    padding: 15px 0 15px 20px;
    border: 0 solid #dee5e7;
    border-left-width: 4px;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }

    &:before {
        position: relative;
        content: "";
        float: left;
        top: 15px;
        margin-left: -27px;
        width: 10px;
        height: 10px;
        border-color: inherit;
        border-width: 3px;
        border-radius: 50%;
        border-style: solid;
        background: #edf1f2;
        box-shadow: 0 0 0 4px #ffffff;
    }

    &:hover:before {
        background: transparent;
        border-color: #fff;
    }
}

.tl-date {
    position: relative;
    top: 10px;
    float: left;
    margin-left: -8.5em;
    display: block;
    width: 6em;
    text-align: right;
}

.tl-content {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 320px;
    border: 1px solid #dee5e7;

    &.block {
        display: block;
        width: 100%;
    }

    &.panel {
        margin-bottom: 0;

        .panel-body {
            font-size: 14px;
            border-top: 1px solid #edf1f2;
        }
    }

    .text-lt {
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.tl-header {
    display: block;
    width: 12em;
    text-align: center;
    margin-left: 2px;
}

.timeline-center {
    .tl-item {
        margin-left: 50%;
        .tl-wrap {
            margin-left: -2px;
        }
    }

    .tl-header {
        width: auto;
        margin: 0;
    }

    .tl-left {
        margin-left: 0;
        margin-right: 50%;

        .hidden-left {
            display: none !important;
        }

        .visible-left {
            display: inherit;
        }

        .tl-wrap {
            float: right;
            margin-right: -2px;
            border-left-width: 0;
            border-right-width: 4px;
            padding-left: 0;
            padding-right: 20px;

            &:before {
                float: right;
                margin-left: 0;
                margin-right: -27px;
            }
        }

        .tl-date {
            float: right;
            margin-left: 0;
            margin-right: -8.5em;
            text-align: left;
        }
    }
}

.b-primary {
    border-color: #7266ba;
}

.b-success {
    border-color: #27c24c;
}