.keep-navigation {
    background: #f6f9fa;
    border-bottom-color: #e9f0f3;

    .dropdown-menu {
        background-color: #f6f9fa;

        a:hover, a:active, a:focus {
            background: 0 0;
        }
    }

    .divider {
        margin: 3px 0;
        background-color: darken(#f6f9fa, 3%);
    }
}