.dashboard-wrapper {
    .sub-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

    .sidebar {
        display: none;
    }

    @media (min-width: 768px) {
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #32323A;
        }
    }

    .nav-sidebar {
        margin-right: -21px;
        margin-bottom: 20px;
        margin-left: -20px;

        & > li > a {
            color: #D6DADF;
            padding-right: 20px;
            padding-left: 20px;

            &:hover,
            &:active,
            &:focus {
                color: #ffffff;
                background-color: #1FB5AC;
            }
        }

        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            color: #ffffff;
            background-color: #1FB5AC;
        }
    }

    .main {
        padding: 20px;

        .page-header {
            margin-top: 0;
        }
    }

    @media (min-width: 768px) {
        .main {
            padding-right: 40px;
            padding-left: 40px;
        }
    }

    .placeholders {
        margin-bottom: 30px;
        text-align: center;

        h4 {
            margin-bottom: 0;
        }

        .placeholder {
            margin-bottom: 20px;

            img {
                display: inline-block;
                border-radius: 50%;
            }
        }
    }
}

