.admin-dashboard {
    .panel {
        color: #ffffff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .row-table {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
        margin: 0;

        & > [class*=col-] {
            display: table-cell;
            float: none;
            table-layout: fixed;
            vertical-align: middle;
        }
    }

    .widget {
        margin-bottom: 20px;

        &.panel {
            overflow: hidden;
        }
    }

    .bg-purple {
        background: #7266ba;
    }

    .bg-purple-dark {
        background: darken(#7266ba, 5%);
    }

    .bg-green {
        background: #16A085;
    }

    .bg-green-dark {
        background: darken(#16A085, 5%);
    }

    .bg-red {
        background: #E74C3C;
    }

    .bg-red-dark {
        background: darken(#E74C3C, 5%);
    }

    .bg-yellow {
        background: #FF6D3A;
    }

    .bg-yellow-dark {
        background: darken(#FF6D3A, 5%);
    }
}