.admin-panel {
    padding-top: 0;
    margin-top: 50px;
    background: #1c2b36;

    .admin-wrapper {
        background-color: #f0f3f4;
    }

    @media(min-width:768px) {
        .admin-wrapper {
            position: inherit;
            margin: 0 0 0 220px;
            padding: 20px;
        }
    }
}

.admin-contents-wrapper {
    .panel {
        color: #58666e;
        border-color: #dee5e7;

        .panel-heading {
            background-color: #f6f8f8;
            border-color: #edf1f2;
        }

        .panel-footer {
            padding: 0 15px;
        }
    }

    .table {
        td {
            font-size: 15px;
            vertical-align: middle;

            form {
                display: inline-block;
            }
        }
    }

    .btn-group {
        .btn {
            border: 1px solid #d8e1e3;
            box-shadow: 0 1px 1px rgba(90,90,90,0.1);
        }

        .dropdown-menu {
            font-size: 14px;
        }
    }
}

.arrow {
    border-width: 9px;
    z-index: 10;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;

    &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 8px;
        content: "";
    }

    &.top {
        left: 50%;
        margin-left: -9px;
        border-top-width: 0;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        top: -9px;

        &:after {
            top: 1px;
            margin-left: -8px;
            border-top-width: 0;
            border-bottom-color: #fff;
        }

        &.arrow-primary:after {
            border-bottom-color: #7266ba;
        }

        &.arrow-info:after {
            border-bottom-color: #23b7e5;
        }

        &.arrow-success:after {
            border-bottom-color: #27c24c;
        }

        &.arrow-danger:after {
            border-bottom-color: #f05050;
        }

        &.arrow-warning:after {
            border-bottom-color: #fad733;
        }

        &.arrow-light:after {
            border-bottom-color: #edf1f2;
        }

        &.arrow-dark:after {
            border-bottom-color: #3a3f51;
        }

        &.arrow-black:after {
            border-bottom-color: #1c2b36;
        }
    }

    &.right {
        top: 50%;
        right: -9px;
        margin-top: -9px;
        border-right-width: 0;
        border-left-color: rgba(0, 0, 0, 0.1);

        &:after {
            right: 1px;
            bottom: -8px;
            border-right-width: 0;
            border-left-color: #fff;
        }

        &.arrow-primary:after {
            border-left-color: #7266ba;
        }

        &.arrow-info:after {
            border-left-color: #23b7e5;
        }

        &.arrow-success:after {
            border-left-color: #27c24c;
        }

        &.arrow-danger:after {
            border-left-color: #f05050;
        }

        &.arrow-warning:after {
            border-left-color: #fad733;
        }

        &.arrow-light:after {
            border-left-color: #edf1f2;
        }

        &.arrow-dark:after {
            border-left-color: #3a3f51;
        }

        &.arrow-black:after {
            border-left-color: #1c2b36;
        }
    }

    &.bottom {
        left: 50%;
        bottom: -9px;
        margin-left: -9px;
        border-bottom-width: 0;
        border-top-color: rgba(0, 0, 0, 0.1);

        &:after {
            bottom: 1px;
            margin-left: -8px;
            border-bottom-width: 0;
            border-top-color: #fff;
        }

        &.arrow-primary:after {
            border-top-color: #7266ba;
        }

        &.arrow-info:after {
            border-top-color: #23b7e5;
        }

        &.arrow-success:after {
            border-top-color: #27c24c;
        }

        &.arrow-danger:after {
            border-top-color: #f05050;
        }

        &.arrow-warning:after {
            border-top-color: #fad733;
        }

        &.arrow-light:after {
            border-top-color: #edf1f2;
        }

        &.arrow-dark:after {
            border-top-color: #3a3f51;
        }

        &.arrow-black:after {
            border-top-color: #1c2b36;
        }
    }

    &.left {
        top: 50%;
        left: -9px;
        margin-top: -9px;
        border-left-width: 0;
        border-right-color: rgba(0, 0, 0, 0.1);

        &:after {
            left: 1px;
            bottom: -8px;
            border-left-width: 0;
            border-right-color: #fff;
        }

        &.arrow-primary:after {
            border-right-color: #7266ba;
        }

        &.arrow-info:after {
            border-right-color: #23b7e5;
        }

        &.arrow-success:after {
            border-right-color: #27c24c;
        }

        &.arrow-danger:after {
            border-right-color: #f05050;
        }

        &.arrow-warning:after {
            border-right-color: #fad733;
        }

        &.arrow-light:after {
            border-right-color: #edf1f2;
        }

        &.arrow-dark:after {
            border-right-color: #3a3f51;
        }

        &.arrow-black:after {
            border-right-color: #1c2b36;
        }
    }

    &.pull-left {
        left: 19px;
    }

    &.pull-right {
        left: auto;
        right: 19px;
    }

    &.pull-up {
        top: 19px;
    }

    &.pull-down {
        top: auto;
        bottom: 19px;
    }
}

.huge {
    font-size: 35px;
}

.pv-lg {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}