.admin-contents-wrapper {
    .well {
        background-color: #ffffff;
    }

    .table {
        background: #ffffff;

        th {
            text-align: center;
        }

        td {
            font-size: 15px;
            vertical-align: middle;

            form {
                display: inline-block;
            }
        }
    }
}

.huge {
    font-size: 35px;
}

.pv-lg {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}