.timeline {
    margin: 0;
    padding: 0;
}

.tl-item {
    display: block;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.visible-left {
    display: none;
}

.tl-wrap {
    display: block;
    margin-left: 6em;
    padding: 15px 0 15px 20px;
    border: 0 solid #dee5e7;
    border-left-width: 4px;

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }

    &:before {
        position: relative;
        content: "";
        float: left;
        top: 15px;
        margin-left: -27px;
        width: 10px;
        height: 10px;
        border-color: inherit;
        border-width: 3px;
        border-radius: 50%;
        border-style: solid;
        background: #edf1f2;
        box-shadow: 0 0 0 4px #ffffff;
    }

    &:hover:before {
        background: transparent;
        border-color: #fff;
    }
}

.tl-date {
    position: relative;
    top: 10px;
    float: left;
    margin-left: -8.5em;
    display: block;
    width: 6em;
    text-align: right;
}

.tl-content {
    display: inline-block;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 320px;
    border: 1px solid #dee5e7;

    &.block {
        display: block;
        width: 100%;
    }

    &.panel {
        margin-bottom: 0;

        .panel-body {
            font-size: 14px;
            border-top: 1px solid #edf1f2;
        }
    }

    .text-lt {
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.tl-header {
    display: block;
    width: 12em;
    text-align: center;
    margin-left: 2px;
}

.timeline-center {
    .tl-item {
        margin-left: 50%;
        .tl-wrap {
            margin-left: -2px;
        }
    }

    .tl-header {
        width: auto;
        margin: 0;
    }

    .tl-left {
        margin-left: 0;
        margin-right: 50%;

        .hidden-left {
            display: none !important;
        }

        .visible-left {
            display: inherit;
        }

        .tl-wrap {
            float: right;
            margin-right: -2px;
            border-left-width: 0;
            border-right-width: 4px;
            padding-left: 0;
            padding-right: 20px;

            &:before {
                float: right;
                margin-left: 0;
                margin-right: -27px;
            }
        }

        .tl-date {
            float: right;
            margin-left: 0;
            margin-right: -8.5em;
            text-align: left;
        }
    }
}

.b-primary {
    border-color: #7266ba;
}

.b-success {
    border-color: #27c24c;
}