.account-profile {
    .panel {
        background: 0 0;
    }

    .label {
        font-weight: normal;
    }

    .list-group-item {
        background: 0 0;
        border: none #edf1f2;
        text-align: center;
    }
}