@import "components/nav";
@import "components/form";
@import "components/button";
@import "components/footer";
@import "components/flash";
@import "components/top_button";
@import "components/select2/core";
@import "components/summernote";

@import "contents/home";
@import "contents/user";
@import "contents/task";
@import "contents/admin";
@import "contents/group";
@import "contents/notification";

body {
    font: normal 15px "Source Sans Pro", sans-serif;
    color: #525252;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

a {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.form-error-text {
    font-size: 11px;
    color: #c7254e;
}

.control-label {
    font-size: 13px;
}

.i-panel {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;

    .i-panel-title {
        background-color: #ffffff;
        border: 1px solid #f5f5f5;
        border-top-width: 4px;
        border-bottom: 0;
        color: inherit;
        margin-bottom: 0;
        padding: 8px 15px;
    }

    .i-panel-content {
        background-color: #ffffff;
        color: inherit;
        padding: 15px 0;
        border: 1px solid #f5f5f5;
    }
}
