.tasks-wrapper {
    .task-control {
        background: 0 0;
    }

    .panel {
        background: #f9f9fa;
        box-shadow: none;
        border: none;

        .panel-heading {
            background: #5fcf80;
            border: none;
            text-align: center;

            .task-title {
                font-size: 25px;
                color: #ffffff;

                &:hover {
                    color: darken(#ffffff, 5%);
                }
            }

            .task-time-ago {
                color: #ffffff;
                margin: 5px 0;
            }
        }

        .panel-body {
            .task-labels {
                margin-bottom: 15px;
                text-align: center;

                .label {
                    margin-bottom: 5px;
                    display: inline-block;
                    font-weight: normal;
                    font-size: 14px;

                    &:not(.label-success) {
                        background: #637a91;
                    }
                }
            }

            .well {
                background: #ffffff;
                color: #7f8a94;

                .label {
                    font-weight: normal;
                    font-size: 12px;
                    margin-right: 5px;
                }

                .fa {
                    padding-right: 5px;
                }
            }
        }

        .panel-footer {
            border-top: none;

            .modal {
                .modal-body {
                    text-align: center;
                }
            }

            .btn {
                background: #637a91;
                border: none;
                color: #ffffff;
            }

            .task-action {
                margin-right: 20px;
                cursor: pointer;
                color: #7f8a94;

                .fa {
                    padding-right: 2px;
                }

                &:hover {
                    color: #5FCF80;
                }
            }
        }
    }
}
