.task-wrapper {
    .panel {
        background: #f9f9fa;
    }

    .panel-heading {
        text-align: center;

        .task-title {
            font-size: 25px;
            color: #ffffff;

            &:hover {
                color: darken(#ffffff, 5%);
            }
        }

        .task-time-ago {
            color: #ffffff;
            margin: 5px 0;
        }
    }

    .panel-body {
        .task-labels {
            margin-bottom: 15px;
            text-align: center;

            .label {
                margin-bottom: 5px;
                display: inline-block;
            }
        }

        .well {
            background: #ffffff;
            color: #7f8a94;

            .label {
                margin-right: 5px;
            }

            .fa {
                padding-right: 5px;
            }
        }
    }
}

.task-controls {
    margin: 15px 0;
    
    form {
        display: inline-block;
    }
}
